@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 57% 15%;
    --foreground: 0 0% 98%;
    --card: 227 70% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 227 70% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 290 48% 63%;
    --primary-foreground: 290 50% 10%;
    --secondary: 227 70% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 227 70% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 290 48% 58%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 227 70% 28%;
    --input: 227 70% 28%;
    --ring: 290 48% 63%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    /* Custom Sidebar Vars */
    --sidebar-background: 227 70% 15%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 290 48% 63%;
    --sidebar-primary-foreground: 290 50% 10%;
    --sidebar-accent: 290 48% 55%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 227 70% 25%;
    --sidebar-ring: 290 48% 63%;
  }

  .dark {
    --background: 224 57% 15%;
    --foreground: 0 0% 98%;
    --card: 227 70% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 227 70% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 290 48% 63%;
    --primary-foreground: 290 50% 10%;
    --secondary: 227 70% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 227 70% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 290 48% 58%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 227 70% 28%;
    --input: 227 70% 28%;
    --ring: 290 48% 63%;

    /* Custom Sidebar Vars */
    --sidebar-background: 227 70% 15%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 290 48% 63%;
    --sidebar-primary-foreground: 290 50% 10%;
    --sidebar-accent: 290 48% 55%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 227 70% 25%;
    --sidebar-ring: 290 48% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .orbital-spinner,
  .orbital-spinner:before,
  .orbital-spinner:after {
    @apply rounded-full;
    animation-timing-function: ease-in-out;
  }

  .orbital-spinner {
    @apply relative w-12 h-12 m-auto;
    animation: rotate 1.5s infinite;
  }

  .orbital-spinner:before,
  .orbital-spinner:after {
    @apply w-12 h-12 absolute content-[''] opacity-80;
  }

  .orbital-spinner:before {
    @apply bg-primary;
    animation:-orbit-1 1.5s infinite;
  }

  .orbital-spinner:after {
    @apply bg-accent;
    animation: -orbit-2 1.5s infinite;
  }
  
  @keyframes rotate {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }

  @keyframes -orbit-1 {
    0% { transform: scale(1); }
    50% { transform: scale(0.2); }
    100% { transform: scale(1); }
  }
  
  @keyframes -orbit-2 {
    0% { transform: scale(0.2); }
    50% { transform: scale(1); }
    100% { transform: scale(0.2); }
  }
}
